<% layout('layout') %>
  <% stylesheet('css/roadconditions.css') %>

    <section id="lastupdated" class="update">
      <p title="Report updated <%= dateFormat(lastUpdated, false) %>">
        Report updated <strong><%= dateFormat(lastUpdated, false) %></strong>. This report will be updated as conditions change.
      </p>
    </section>

    <div class="main">

      <section class="goElsewhere">
        <div>
          <p>For campus and class status changes, visit <a href="https://www.sfu.ca">www.sfu.ca</a> and follow <a href="https://twitter.com/sfu">@SFU on Twitter</a>.</p>
          <p>For the latest transit updates, visit <a href="https://www.translink.ca">translink.ca</a> and follow <a href="https://twitter.com/translink">@TransLink on Twitter</a>.</p>
        </div>
      </section>

      <section class="block">
        <h1>Burnaby Campus</h1>
        <h2>Roads: <span class="roadStatus status-text <%= campuses.burnaby.roads.severity %>"><%- campuses.burnaby.roads.status %></span></h2>
        <div class="announcements">
          <div>
            <%- campuses.burnaby.announcements %>
          </div>
        </div>
        <div class="extlinks">
          <a href="https://www.mountain-forecast.com/peaks/Burnaby-Mountain/metar">Weather Conditions</a>
          <a href="https://www.sfu.ca/srs/security/traffic-safety/traffic-notices.html">Traffic Notices</a>
        </div>
      </section>

      <section class="block">
        <h1>Surrey Campus</h1>
        <div class="announcements">
          <div>
            <%- campuses.surrey.announcements %>
          </div>
        </div>
        <div class="extlinks">
          <a href=" https://www.theweathernetwork.com/ca/weather/british-columbia/surrey">Weather Conditions</a>
          <a href="https://globalnews.ca/bc/traffic/">Traffic Conditions</a>
          <a href="http://cosmos.surrey.ca/TrafficCameraImages/enc_102_cityparkway_cam1.jpg?t=1508800164624">Traffic Camera</a>
        </div>
      </section>

      <section class="block">
        <h1>Vancouver Campus</h1>
        <div class="announcements">
          <div>
            <%- campuses.vancouver.announcements %>
          </div>
        </div>
        <div class="extlinks">
          <a href="https://www.theweathernetwork.com/ca/weather/british-columbia/vancouver">Weather Conditions</a>
          <a href="https://globalnews.ca/bc/traffic/">Traffic Conditions</a>
          <a href="http://trafficcams.vancouver.ca/GranvilleDunsmuir.htm">Traffic Cameras</a>
        </div>
      </section>

      <section class="block">
        <h1>Burnaby Webcams</h1>
        <div class="webcams">
          <div class="webcam">
            <h4>University Drive North</h4>
            <a href="http://www.sfu.ca/itservices/technical/webcams/webcams_library.html"><img class="webcamimg" src="http://ns-webcams.its.sfu.ca/public/images/udn-current.jpg" alt="University Drive North" /></a>
          </div>
          <div class="webcam">
            <h4>Gaglardi Intersection</h4>
            <a href="http://www.sfu.ca/itservices/technical/webcams/webcams_gaglardi.html"><img class="webcamimg" src="http://ns-webcams.its.sfu.ca/public/images/gaglardi-current.jpg" alt="Gaglardi intersection" /></a>
          </div>
          <div class="webcam">
            <h4>AQ North</h4>
            <a href="http://www.sfu.ca/itservices/technical/webcams/webcams_aqnorth.html"><img class="webcamimg" src="http://ns-webcams.its.sfu.ca/public/images/aqn-current.jpg" alt="Convocation Mall" /></a>
          </div>
          <div class="webcam">
            <h4>AQ South West</h4>
            <a href="http://www.sfu.ca/itservices/technical/webcams/webcams_aqsw.html"><img class="webcamimg" src="http://ns-webcams.its.sfu.ca/public/images/aqsw-current.jpg" alt="AQ South West" /></a>
          </div>
        </div>
      </section>

      <section class="block">
        <h1>Resources</h1>
        <div class="resources">
          <div class="resource radio">
            <h2>Traffic Updates by Radio</h2>
            <p>Constant traffic updates can be heard on radio station <a href="http://www.am730.ca/">AM730</a>. Traffic updates
              also run every 10 minutes on <a href="http://www.news1130.com/">AM1130</a> and <a href="https://globalnews.ca/radio/cknw/?gref=cknw">AM980</a>.</p>
          </div>
          <div class="resource phone">
            <h2>SFU Burnaby Road & Traffic Updates by Phone</h2>
            <p>The SFU Burnaby Road and Traffic report is also available at: 604-444-4929 and will be updated whenever conditions
              change.
            </p>
          </div>
          <div class="resource weather">
            <h2>Weather Forecasts</h2>
            <p>
              <a href="http://weather.gc.ca/city/pages/bc-74_metric_e.html">Environment Canada</a>
            </p>
            <p>
              <a href="https://www.theweathernetwork.com/ca">Weather Network</a>
            </p>
          </div>
          <div class="resource wildlife">
            <h2>Wildlife Safety</h2>
            <p>
              <a href="https://www.sfu.ca/srs/security/personal-security/sfu-programs/personal-safety-guide/wildlife-safety.html">Wildlife Safety on Burnaby Campus</a>
            </p>
          </div>
        </div>
      </section>

    </div>

    <%- partial('footer') %>

      <script type="text/javascript">
        var _gaq = _gaq || [];
        // ICAT GA Account
        _gaq.push(['_setAccount', 'UA-33032885-1']);
        _gaq.push(['_trackPageview']);
        // SRS GA Account
        _gaq.push(['_setAccount', 'UA-31612222-1']);
        _gaq.push(['_trackPageview']);
        (function () {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>