<% headResources.css.push('conditions-min.css'); %>
<% bodyScripts.push('refreshcameras-min.js'); %>

<div id="status">

    <div class="primary">

        <ul>
            <li><h2>The university is <span class="<%= conditions.campus.severity %>"><%= conditions.campus.status %></span></h2></li>
            <li class="datestamp" data-lastupdated="<%= lastupdated %>">Report updated at <span><%= dateFormat(lastupdated, "h:mm a [on] MMMM DD YYYY") %><span></li>
        </ul>

    </div>

    <div class="secondary">
        <ul>
            <li>University roads: <span class="<%= conditions.roads.severity %>"><%= conditions.roads.status %></span></li>
            <li>Adjacent roads: <span class="<%= conditions.adjacentroads.severity %>"><%= conditions.adjacentroads.status %></span></li>
            <li class="divider">Classes are: <span class="<%= conditions.classes.severity %>"><%= conditions.classes.status %></span></li>
            <li>Translink buses are: <span class="<%= conditions.transit.severity %>"><%= conditions.transit.status %></span></li>
            <li>Exams are: <span class="<%= conditions.exams.severity %>"><%= conditions.exams.status %></span></li>
        </ul>

    </div>

</div>

<div id="announcements">

    <h3>Campus announcements</h3>

    <div class="primary">
        <% for (item in announcements) { %>
            <div><%- announcements[item] %></div>
        <% } %>
    </div>


    <div class="secondary">
        <% for (item in sidebars) { %>
            <div><%- sidebars[item] %></div>
        <% } %>
    </div>

</div>

<div id="webcams">

    <h3>Burnaby webcams</h3>

    <ul>
        <li><h4>University Drive North</h4>
            <a href="http://www.sfu.ca/itservices/technical/webcams/webcams_library.html"><img class="webcamimg" src="http://www.sfu.ca/~netops/webcams/libcam.jpg" alt="University Drive North" /></a>
        </li>
        <li><h4>Gaglardi intersection</h4>
            <a href="http://www.sfu.ca/itservices/technical/webcams/webcams_gaglardi.html"><img class="webcamimg" src="http://www.sfu.ca/~netops/webcams/gaglardicam.jpg" alt="Gaglardi intersection" /></a>
        </li>
        <li><h4>Convocation Mall</h4>
            <a href="http://www.sfu.ca/itservices/technical/webcams/webcams_convo.html"><img class="webcamimg" src="http://www.sfu.ca/~netops/webcams/mallcam.jpg" alt="Convocation Mall" /></a>
        </li>
    </ul>

</div>

<div id="links">
    <h3>Other resources</h3>
    <% for (i in links) {
        var thislink = links[i];
    %>
        <div>
            <h4><%= thislink.category %></h4>
            <ul>
            <% for (i in thislink.links) {%>
                <li><a href="<%= thislink.links[i].url %>"><%= thislink.links[i].text %></a></li>
            <% } %>
            </ul>
        </div>
    <% } %>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33032885-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>